.form {
  margin-top: 10rem;
  background-color: var(--black);
  max-width: max(50vw, 50rem);
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  margin-bottom: 10rem;
}

.form > *:not(:last-child) {
  width: 100%;
}

.form > *:last-child {
  margin-left: auto;
  margin-top: 3rem;
  background-color: var(--orange);
  border: none;
  outline: none;
  font-size: medium;
  padding: 1rem 2rem;
  color: var(--white);
  border-radius: 0.5rem;
}
.inline {
  display: flex;
}

.inline > * {
  width: 50%;
}
