.main {
  overflow-y: hidden;
  height: 60vh;
  position: relative;
  background-image: radial-gradient(
    circle at top right,
    var(--black),
    var(--orange),
    rgb(173, 0, 0)
  );
}

.container {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: 1;
}

.main::-webkit-scrollbar,
.main::-webkit-scrollbar-thumb {
  display: none;
}

.text {
  z-index: 10;
  position: relative;

  width: 50vw;
  height: 100%;
  padding: 1rem 2rem;
  padding-right: 5rem;
  box-sizing: border-box;
  margin-top: 1rem;
}

.pictures {
  z-index: 10;
  position: sticky;
  top: 0;
  bottom: 0;
  width: 50vw;
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image img {
  animation: movePictures 10s infinite;
}

@keyframes movePictures {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
}

.image {
  width: 100%;
  aspect-ratio: 1 / 2;
  margin-bottom: 2rem;
}

.parent {
  flex-grow: 1;
  position: relative;
  height: 100%;
  overflow: hidden;
  min-width: 5rem;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  position: absolute;
  inset: 0;
  height: 100%;
  transition: all var(--transTime);
}

.big {
  font-size: 45px;
  font-weight: 600;
}

.input {
  position: relative;
  width: 80%;
  margin-top: 8%;
  height: 45px;
}

.input input {
  height: 45px;
  color: #fff;
}

.input input::placeholder {
  color: #fff;
}

.social {
  margin-top: 9%;
  margin-bottom: 1rem;
  height: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.social > * {
  width: 2.5rem;
  height: 2.5rem;
}

.input > *:first-child {
  border: 1px solid var(--white);
  background-color: transparent;
  width: 100%;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.input > *:last-child {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--white);
  border-radius: 3rem;
  border: none;
  outline: none;
  padding: 0 2rem;
}

.links {
  display: flex;
  justify-content: space-between;
  transform: translateY(20%);
}

.linkBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.linkBox > * {
  margin: 0;
  font-weight: bold;
}

.linkBox > *:first-child {
  margin-bottom: 1rem;
}

.linkBox > *:last-child {
  margin-bottom: auto;
}

.linkBox > *:not(:first-child) {
  cursor: pointer;
}

.linkBox > *:not(:first-child):not(:last-child) {
  margin-bottom: 0.1rem;
}

@media only screen and (max-width: 800px) {
  .pictures {
    display: none;
  }
  .text {
    width: 100vw !important;
    padding: 1rem 2rem;
  }
  .social {
    width: 100%;
    gap: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    position: sticky;
    height: auto;
  }
  .main{
    height: auto;
  }
  .big {
    font-size: 25px;
  }  
  .input {
    width: 100%;
  }
  .parent {
    overflow: visible;
  }

  .row {
    height: 50%;
  }
  .text {
    width: 80vw;
  }

  .links {
    flex-direction: column;
    margin-top: -3rem;
  }
  .social > * {
    width: 2rem;
    height: 2rem;
  }
}
