.main {
  min-height: 300vh;
  top: 0;
  padding-bottom: 5rem;
}

.zoomRef {
  position: relative;
  z-index: 10;
  height: 200vh;
  opacity: 0.5;
}

.mobile {
  height: 85vh;
  aspect-ratio: 1101/2276;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding: 1rem;
  overflow: hidden;
  border-radius: 7vh;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 105px 32px #f25c0556;
}

.logo {
  width: 340px;
}

.lockRef {
  position: relative;
  height: 100vh;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 1;
  object-fit: cover;
}

.postsRef {
  width: 100vw;
  height: 200vh;
  z-index: 100;
  opacity: 0.5;
}

.posts {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  scale: 1.05;
  overflow-x: hidden;
  animation: fadeIn var(--transTime) linear forwards;
  border-radius: 1rem;
  height: 4136px;
}

.postContainer {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  transition: all var(--transTime);
  height: 4136px;
}

.post {
  position: absolute;
  inset: 0;
  height: 4136px;
  width: 1101px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.image {
  position: absolute;
  inset: 0;
}

.postImage {
  position: absolute;
  width: 43.54vh;
  height: 155vh;
  margin-top: 3rem;
  z-index: -10;
  aspect-ratio: 1101 / 4136;
}

.placeholder {
  margin-top: -5rem;
  background-image: linear-gradient(
    to bottom right,
    var(--black),
    var(--gray) 25%,
    var(--orange) 50%,
    var(--gray) 75%,
    var(--black)
  );
  background-size: 400%;
  animation: moveGrad 10s ease-in-out infinite, fadeIn 1s ease forwards !important;
}

.frame {
  position: absolute;
  scale: 1.005;
  inset: 0;
  z-index: 100;
  opacity: 1;
  transition: all var(--transTime);
}

.hidden {
  opacity: 0;
}

.wellcome {
  opacity: 0;
  animation: fadeIn var(--transTime) linear forwards;
}

.smallText {
  font-size: 2vmax;
  color: #000 !important;
}

.hero {
  width: 100%;
  height: 100%;
  padding: 0 5vmax;
  padding-bottom: 5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  /* background-image: linear-gradient(
    to bottom right,
    #a90606,
    #af360a 25%,
    var(--orange) 50%,
    #af360a 75%,
    #a90606
  );
  background-size: 500%; */
  transition: all var(--transTime);
  animation: moveGrad 8s ease-in-out infinite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.textHeader {
  margin-bottom: 3rem;
  font-size: 96px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  line-height: 115px;
}

.smallText {
  border: none;
  color: var(--orange);
  border-radius: 0.2rem;
  font-size: 2rem;
  padding: 0.4rem 3rem;
  margin-top: 3rem;
  box-sizing: border-box;
}

.mobileHeader {
  position: sticky;
  background-color: var(--black);
  top: -6px;
  transform: translateY(-0.3rem);
  z-index: 100;
  border-bottom: 2px solid var(--gray);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: -10;
  width:  40.54vh;
  aspect-ratio: 1101 /442;
  margin-left: auto;
  margin-right: auto;
}

.mobileHeader > * {
  position: absolute;
  inset: 0;
}

.mobileFooter {
  position: sticky;
  bottom: 0;
  transform: translateY(calc(67vh));
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: -10;
  width: 43.54vh;
  aspect-ratio: 1101 /229;
  margin-left: auto;
  margin-right: auto;
}

.mobileFooter > * {
  position: absolute;
  width: 105%;
  bottom: 40px;
  left: -8px;
}

.post:first-of-type {
  margin-top: 23vh;
}

.postHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
}

.postHeader > *:first-child {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
}

.postHeader > *:nth-child(2) {
  position: absolute;
  left: 5rem;
  font-size: 0.7rem;
  color: var(--gray);
}

.postImage {
  position: absolute;
  top: 5rem;
  width: 90%;
  left: 50%;

  transform: translateX(-50%);
  z-index: -15;
}

.video2 {
  width: 92%;
  height: 96.5%;
  padding-left: 4.3%;
  padding-top: 3.3%;
  margin: auto;
  border-radius: 50px 48px 40px 45px;
  object-fit: cover;
}

.postText {
  font-size: 0.7rem;
  position: absolute;
  top: 20rem;
  width: 90%;
  left: 50%;
  height: 3rem;
  transform: translateX(-50%);
}

.postIcons {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 0.5rem;
}

.postIcons > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postIcons > * > * {
  width: 40%;
}

.mobileHeader,
.postImage,
.mobileFooter {
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveGrad {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
@media only screen and (max-width: 500px) {
  .main {
    overflow: hidden;
  }
  .mobileHeader {
    width: 100%;
  }
  .logo {
    width: 190px;
  }

  .hero {
    position: absolute;
  }

  .textHeader {
    font-size: 30px;
    line-height: 45px;
  }

  .mobile {
    height: 75vh;
    position: fixed;
    left: 12.5vw;
    width: 67vw;
    border-radius: 45px;
    top: 60%;
  }

  .video2 {
    border-radius: 40px;
  }

 
  .postImage {
    height: auto;
    width: 91%;
    object-fit: contain;
  }
}

.loading{
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: all .1s linear;
  pointer-events: none;
}
.hide.loading{
  opacity: 0;
  visibility: hidden;
}