.wrapper{
  padding-top: 10rem;
  min-height: 18rem;
  position: relative;
}
.main {
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
  margin-bottom: 5rem;
  background-image: radial-gradient(
    circle at top,
    rgb(167, 0, 0),
    var(--orange),
    rgb(167, 0, 0)
  );
  height: 20rem;
  margin-top: -2rem;
  margin-bottom: 15rem;
}

.back,
.front {
  height: 140%;
  aspect-ratio: 716/1013;
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  transform: translate(0rem, -3rem);
}

.icon:first-child {
  scale: 1.2;
}

.icon:last-child {
  scale: 1.2;
}

.icons {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  padding-bottom: 25px;
}

.image {
  position: relative;
  max-height: 20rem;
}

.text {
  width: 70%;
  padding: 1rem 6rem;
  box-sizing: border-box;
}

.icon {
  width: 9rem;
  height: auto;
  margin: 4%;
}

.bigText {
  font-size: xx-large;
}

.smallText {
  font-size: large;
}

.btn {
  background-color: var(--white);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: large;
  border-radius: 0.2rem;
}

@media only screen and (max-width: 500px) {
  .main {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
  }

  .text {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .image {
    margin-left: -19%;
    width: 100%;
    margin-right: unset;
    margin-left: auto;
  }

  .image div {
    position: relative;
    padding-top: 2rem;
    transform: translate(3rem, -3rem);
    width: 80%;
    height: auto;
  }

 

  .bigText {
    font-size: x-large;
  }

  .icons {
    width: 50vw;
    width: 80vw;
  }

  .icon:first-child {
    scale: 1;
  }

  .icon:last-child {
    scale: 1  ;
  }
}
